.page {
    min-width: 320px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 100px;
    font-family: 'Nunito', sans-serif;
    color: rgb(2, 38, 81);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page__content {
    height: 81%;
    margin: 0 auto;
}