.page {
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 45px;
    font-family: 'Inter', sans-serif;
    background-color: #F8F8F8;
    color: #92908d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}